<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rent a Car</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<style>
    .footer {
        background-color: #f8f9fa;
        padding: 20px 0;
        text-align: center;
        margin: 20px;
    }

    .card{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

        width: 300px;
        margin: 10px;
        text-align: center;
        display: inline-block;
    }
    .card {
        transition: transform 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
    }


    .main{
        text-align: center;
        margin: 50px;
    }

    .btn-primary{
        margin-bottom: 30px;
    }

    .button-container{
        display: flex;
        justify-content: center;

    }




</style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Rent A Car</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                                <a class="nav-link" th:if="${isUser || user == null}"  href="/">Početna</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:if="${isUser}" th:href="@{/rezervacije/moje-rezervacije}" method="get"> Moje Rezervacije</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:if="${isAdmin}" th:href="@{/}">Početna</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Kontakt</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" th:if="${user == null}"  th:href="@{/login}" >Login</a>
                            </li>
                            <li class="nav-item">
                                <a  class="nav-link" th:if="${user != null}" th:href="@{/logout}">Logout</a>
                            </li>



        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/pretraga/{marka}}"  method="get">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="marka" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

<!--        <form class="form-inline my-2 my-lg-0" th:action="@{/pretraga/{boja}}"  method="get">-->
<!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="boja" aria-label="Search">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Boja</button>-->
<!--        </form>-->

        <form class="form-inline my-2 my-lg-0" th:action="@{/pretraga/{boja}}" method="get">
            <select class="form-control mr-sm-2" name="boja">
                <option >Sve boje</option>
                <option>crvena</option>
                <option>plava</option>
                <option>crna</option>
                <option>bela</option>
                <option>siva</option>
                <!-- Dodajte ostale boje kao opcije -->
            </select>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pretraži boju</button>
        </form>
    </div>
</nav>

<div class="main" th:if="${user == null}" >
    <h1>RENT A CAR</h1>

    <form th:action="@{/sortiraj}"  method="get">
        <button class="btn btn-primary"type="submit">Sortiraj po ceni</button>
    </form>

    <div class="lista-vozila">

        <div class="card" th:each="vozilo : ${vozila}">
            <img th:src="${vozilo.slika}" alt="Slika vozila" width="250" height="180">
            <h2 th:text="${vozilo.marka}">Marka</h2>
            <h2 th:text="${vozilo.model}">Model</h2>
            <p th:text="${vozilo.godinaProizvodnje}">Godište</p>

            <p>Cena po danu: <span th:text="${vozilo.cenaPoDanu} + '&euro;'"></span></p>
            <p>Registrake Tablice: <span th:text="${vozilo.registarskaTablica}"></span></p>


            <div class="button-container">
                <form th:action="@{/rezervacije/nova-rezervacija}" method="get">
                    <input type="hidden" name="voziloId" th:value="${vozilo.id}" />
                    <button class="btn btn-primary" type="submit">Rezerviši</button>
                </form>

                <form th:action="@{/detalji}" method="get">
                    <input type="hidden" name="voziloId" th:value="${vozilo.id}" />
                    <button class="btn btn-secondary" type="submit">Detaljnije</button>
                </form>
            </div>

        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>






<div class="main" th:if="${isUser}">
    <h1>RENT A CAR</h1>

    <form th:action="@{/sortiraj}"  method="get">
        <button class="btn btn-primary"type="submit">Sortiraj po ceni</button>
    </form>

    <div class="lista-vozila">

        <div class="card" th:each="vozilo : ${vozila}">
            <img th:src="${vozilo.slika}" alt="Slika vozila" width="250" height="180">
            <h2 th:text="${vozilo.marka}">Marka</h2>
            <h2 th:text="${vozilo.model}">Model</h2>
            <p th:text="${vozilo.godinaProizvodnje}">Godište</p>

            <p>Cena po danu: <span th:text="${vozilo.cenaPoDanu} + '&euro;'"></span></p>
            <p>Registrake Tablice: <span th:text="${vozilo.registarskaTablica}"></span></p>



            <form th:action="@{/rezervacije/nova-rezervacija}" method="get">
                <input type="hidden"  name="voziloId" th:value="${vozilo.id}"/>
                <button class="btn btn-primary" type="submit">Rezervisi</button>
            </form>

            <form th:action="@{/detalji}" method="get">
                <input type="hidden" name="voziloId" th:value="${vozilo.id}"/>
                <button class="btn btn-secondary" type="submit">Detaljnije</button>
            </form>



        </div>
    </div>
</div>

<div th:if="${isAdmin}" >

    <div class="container mt-4">
        <h1>Dobrodošli u Admin Panel</h1>
        <p class="lead">Upravljajte vašim veb sajtom lako pomoću naših moćnih alata.</p>

        <div class="row mt-5">
            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Vozila</h5>
                        <p class="card-text">Upravljajte informacijama o vozilima.</p>
                        <a th:href="@{/vozila}" href="#" class="btn btn-primary">Idi na Vozila</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Rezervacije</h5>
                        <p class="card-text">Pregledajte i upravljajte rezervacijama.</p>
                        <a th:href="@{/rezervacije}" href="#" class="btn btn-primary">Idi na Rezervacije</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Transakcije</h5>
                        <p class="card-text">Prikaz i upravljanje klijentskim transakcijama.</p>
                        <a th:href="@{/transakcije}" href="#" class="btn btn-primary">Idi na Transakcije</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Klijenti</h5>
                        <p class="card-text">Upravljanje informacijama o klijentima.</p>
                        <a th:href="@{/klijenti}" href="#" class="btn btn-primary">Idi na Klijente</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</div>



<div class="main" th:if="${isUser}">


<div class="lista-vozila">

    <div class="card" th:each="vozilo : ${listaVozila}">
        <img th:src="${vozilo.slika}" alt="Slika vozila" width="250" height="180">
        <h2 th:text="${vozilo.marka}">Marka</h2>
        <h2 th:text="${vozilo.model}">Model</h2>
        <p th:text="${vozilo.godinaProizvodnje}">Godište</p>

        <p>Cena po danu: <span th:text="${vozilo.cenaPoDanu} + '&euro;'"></span></p>
        <p>Registrake Tablice: <span th:text="${vozilo.registarskaTablica}"></span></p>

        <form th:action="@{/rezervacije/nova-rezervacija}" method="get">
            <input type="hidden"  name="voziloId" th:value="${vozilo.id}"/>
            <button class="btn btn-primary" type="submit">Rezervisi</button>
        </form>

    </div>
</div>

</div>




<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h4>O nama</h4>
                <ul class="footer-links list-unstyled">
                    <li><a href="#">O nama</a></li>
                    <li><a href="#">Uslovi korištenja</a></li>
                    <li><a href="#">Privatnost</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Kategorije</h4>
                <ul class="footer-links list-unstyled">
                    <li><a href="#">Kategorija 1</a></li>
                    <li><a href="#">Kategorija 2</a></li>
                    <li><a href="#">Kategorija 3</a></li>
                    <li><a href="#">Kategorija 4</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Korisni linkovi</h4>
                <ul class="footer-links list-unstyled">
                    <li><a href="#">Link 1</a></li>
                    <li><a href="#">Link 2</a></li>
                    <li><a href="#">Link 3</a></li>
                    <li><a href="#">Link 4</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4>Pretplatite se na naš newsletter</h4>
                <p>Prijavite se kako biste primali najnovije vijesti i ažuriranja.</p>
                <form class="subscribe-form">
                    <input type="email" class="form-control" placeholder="Unesite vašu e-mail adresu">
                    <button style="margin-top: 10px" type="submit" class="btn btn-primary">Pretplati se</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-bottom">
                    <p>Bogdan Trajkovic 4405 &copy; 2023</p>
                </div>
            </div>
        </div>
    </div>
</footer>



</body>
</html>
